<div class="container">
  <div class="flex-item-3">
    <div class="list-group mt-3">
      <h3 class="mb-1">All Application</h3>
      <li *ngFor="let itemApp of dataListApplication" class="list-group-item">
        <p class="mb-1"><strong>Order:</strong> {{ itemApp.application_order }}</p>
        <p class="mb-1"><strong>Code:</strong> {{ itemApp.application_code }}</p>
        <p class="mb-1"><strong>Title:</strong> {{ itemApp.application_title }}</p>
        <p class="mb-1"><strong>Desc:</strong> {{ itemApp.application_description }}</p>
        <p class="mb-1"><strong>By:</strong> {{ itemApp.created_by }}</p>
        <p class="mb-1"><strong>Created At:</strong> {{ itemApp.created_at }}</p>
        <button class="btn btn-primary mt-1" [routerLink]="['/edit-app/', itemApp.application_uuid]">Edit</button>
      </li>
    </div>
  </div>
</div>