<form >
  <div class="container">
    <div class="form-group row mt-3">
      <label class="col-sm-2 col-form-label">application_code</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="applicationCode">  
      </div>
    </div>
    <div class="form-group row mt-3">
      <label class="col-sm-2 col-form-label">application_title</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="applicationTitle">
      </div>
    </div>
    <div class="text-center mt-3">
      <button tyoe="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>