<div class="container mt-3">
  <h2>Data List</h2>
  <div class="card mt-3" routerLink="/list-user-app-role" routerLinkActive="active">
    <div class="card-body">
      List User Application Role
    </div>
  </div>
  <div class="card mt-3" routerLink="/list-all-division" routerLinkActive="active">
    <div class="card-body">
      List All Division
    </div>
  </div>
  <div class="card mt-3" routerLink="/list-all-application" routerLinkActive="active">
    <div class="card-body">
      List All Application
    </div>
  </div>
  <div class="card mt-3" routerLink="/list-all-role" routerLinkActive="active">
    <div class="card-body">
      List All Role
    </div>
  </div>

</div>
